/* style thiet ke layout chung cho cac trang web*/
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}

header{
    background-color: lightblue;
    padding: 10px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
}
header h1{
    text-indent: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    padding: 10px;
    border-top: solid thin lightblue;
    border-bottom: double thin burlywood;
    text-align: center;
}

nav ul{
    list-style-type: none;
}

nav ul>li{
    display: inline-block;
    text-align: center;
}

li>a{
    text-decoration: none;
    display: inline-block;
    width: 100px;
    background-color: slateblue;
    color: whitesmoke;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    transition: 2s;
}

li>a:hover{
    background-color: salmon;
}