*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#header{
background-color: green;
padding: 1px;
background-repeat: no-repeat;
text-shadow: 2px 2px gray;
color: white;
}
#header h1{
text-align: center;
}
footer{
    font-weight: bold;
    text-align: center;
}
.center{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
#menu{
    text-align: center;
    justify-content: space-between;
}
#menu a{
    padding: 10px;
    color: #2817A9;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    text-shadow: 1px 1px gray;
}
#submit, #reset{
    display: inline-block;
    width: 80px;
    background-color: #DDDDDB;
    padding: 5px;
    font-weight: bold;
    border-radius: 20px;
}
.formlogin{
    display: table;
    border-style: double;
    vertical-align: middle;
    margin: auto;
}
#member{
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    text-shadow: 2px 2px gray;
}
h2{
    text-align: center;
    color: whitesmoke;
}
input:required:invalid{
    border: 2px solid orange;
    color: blue;
}

input:required:valid{
    border: 2px solid red;
    color: blue;
}
textarea{
    padding: 10px;
    line-height: 1.5;
    width:300px;
    max-width: 300px;
    max-height: 300px;
}
hr.s1 {
    border-top:  solid black;
}