body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.error {
color: #FF0000;
}
h1{
    color: blue;
    text-align: center;
}
h2{
    color: blue;
}
label{
    display: inline-block;
    width: 150px;
}
.signup-box{
    width: fit-content;
    height: fit-content;
    margin: auto;
}
textarea{
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    max-width: 150px;
    max-height: 50px;
}
